<div class="container-fluid">
  <div class="row">
    <div class="col-xs-3">
    </div>
    <div class="col-xs-6">
      <form>
        <div class="form-group">
          <label class="sr-only" for="searchArtists">Search Artists</label>
          <div class="input-group input-group-lg">
            <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
            <input type="text" ng-model="artist.name" class="form-control" id="searchArtist" placeholder="Search Artists" />
            <span class="input-group-btn">
              <button ui-sref="artistSearch({artist: artist.name})" class="btn btn-primary">Search More!</button>
            </span>
          </div>
        </div>
      </form>
    </div>
    <div class="col-xs-3">

    </div>
  </div>
  <div class="row">
    <div class="col-xs-2">
      <label for="distanceSelect">Distance</label>
      <select name="distanceSelect" class="form-control" ng-model="distance" ng-init="All">
        <option ng-repeat="dist in distanceOptions" value="{{dist.value}}" ng-selected="{{distance == dist.value}}">{{dist.name}}</option>
      </select>

      <!-- <select ng-model="distance" name="distanceSelect" class="form-control">
        <option value="100000" selected>All</option>
        <option value="25">25</option>
        <option value="50">50</option>
        <option value="100">100</option>
        <option value="250">250</option>
      </select> -->
    </div>
    <div class="col-xs-8">
      <table class="table">
        <tr>
          <td>Date</td>
          <td>Artist</td>
          <td>Location</td>
          <td>Distance</td>
          <td>Venue</td>
          <td>Ticket Status</td>
          <td>On Sale Date</td>
          <td>Buy Tickets</td>
        </tr>

        <tr ng-repeat="event in events | orderBy:['datetime', 'artist']:sortReverse" ng-class="{info: event.artist===artist.name}" ng-if="getDistance(event.venue.latitude, event.venue.longitude) < distance">
          <td>{{event.datetime | date:'MMM d, yyyy'}}</td>
          <td>{{event.artist}}</td>
          <td>{{event.formatted_location}}</td>
          <td>{{getDistance(event.venue.latitude, event.venue.longitude) | number:0}} miles</td>
          <td>{{event.venue.name}}</td>
          <td>{{event.ticket_status}}</td>
          <td>{{event.on_sale_datetime | date:'MMM d, yyyy'}}</td>
          <td><a class="btn btn-success" ng-href="{{event.ticket_url}}">Buy Tickets</a></td>
        </tr>
      </table>
    </div>
    <div class="col-xs-2">
    </div>
  </div>
</div>
