<div class="container-fluid">
  <div class="row">
    <div class="col-xs-3">
    </div>
    <div class="col-xs-6">
      <form>
        <div class="form-group">
          <label class="sr-only" for="searchArtists">Search Artists</label>
          <div class="input-group input-group-lg">
            <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
            <input type="text" ng-model="artist.name" class="form-control" id="searchArtist" placeholder="Search Artists" />
            <span class="input-group-btn">
              <button ui-sref="artistSearch({artist: artist.name})" class="btn btn-primary">Search More!</button>
            </span>
          </div>
        </div>
      </form>
    </div>
    <div class="col-xs-3">

    </div>
  </div>
  <md-content layout-paddng>
    <div layout="row" layout-wrap>
      <artist-card ng-repeat="artist in relatedArtists" flex-gt-lg="10" flex-gt-md="20" flex-gt-sm="33" flex="100"></artist-card>
    </div>
  </md-content>
</div>
